---
const { buttonText, buttonStyle } = Astro.props;
const primaryStyle =
    buttonStyle === "primary"
        ? "primary"
        : "secondary";
---

<button class={`cta-button ${buttonStyle}`}>{buttonText}</button>
<style>
    .cta-button {
        padding: 1.7rem 2.7rem;
    
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;

        transition: all 0.2s ease;
    }

    .cta-button.primary {
        background-color: var(--primary); 
        color: var(--white-text);
    }

    .cta-button.primary:hover {
        background-color: var(--primary-hover);

    }
    .cta-button.secondary {
        background-color: var(--primary-light); 
        color: var(--primary);
    }

    .cta-button.secondary:hover {
        background-color: var(--primary-light-hover);
    }

    
</style>
