---


---

<div class="section-container">
    <div class="container">

        <slot />
    </div>
</div>
<style>
	.container {
    
        width: 71%;
        margin: auto;
        max-width: 110rem;
       
        
    }
</style>