<section>
    <p class="heading">BENEFICIOS CLAVE DEL PRODUCTO</p>
    <h3 class="section-title">¿Por qué elegirnos?</h3>
    <p class="section-paragraph">
        Porque entendemos que prepararte para el examen teórico de manejo en
        Costa Rica no debería ser complicado ni consumir semanas de estudio.
        Nuestro resumen del manual del conductor está diseñado para ayudarte a
        aprender rápido, sin estrés y con total claridad.
    </p>

    <div class="info-cards">
        <div class="info-card">
            <img
                height="150px"
                src="https://res.cloudinary.com/dtu95r8h9/image/upload/e_background_removal/f_png/v1748478887/facil-de-entender_rl4rra.png"
                alt="Fácil de entender"
                srcset=""
            />
            <h3 class="info-card-title">Fácil de entender</h3>
            <p class="info-card-description">
                Simplificamos toda la información importante del manual oficial
                en un formato claro, directo y sin tecnicismos. Ideal si quieres
                aprender rápido y sin frustraciones.
            </p>
        </div>
        <div class="info-card">
            <img
                height="150px"
                src="https://res.cloudinary.com/dtu95r8h9/image/upload/e_background_removal/f_png/v1748478887/acceso-inmediato_n2ej0x.png
        "
                alt="acceso-ilimitado"
                srcset=""
            />
            <h3 class="info-card-title">Acceso inmediato</h3>
            <p class="info-card-description">
                No esperes más: una vez que realizas tu compra, puedes descargar
                el resumen en PDF al instante y comenzar a estudiar de inmediato
                desde tu celular, tablet o computadora.
            </p>
        </div>
        <div class="info-card">
            <img
                height="150px"
                src="https://res.cloudinary.com/dtu95r8h9/image/upload/e_background_removal/f_png/v1748478887/ahorra-tiempo_ceq1lp.png"
                alt="ahorra-tiempo"
                srcset=""
            />
            <h3 class="info-card-title">Ahorra tiempo</h3>
            <p class="info-card-description">
                Nuestro contenido va al grano: te damos justo lo que necesitas
                para aprobar, sin relleno ni vueltas innecesarias. Perfecto para
                quienes tienen poco tiempo para estudiar.
            </p>
        </div>
    </div>
</section>
<style>
    .heading {
        font-size: 1.4rem;
        color: var(--primary);
        font-weight: 700;
    }

    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 10rem;
    }
    .section-title {
        font-size: 3.6rem;
        font-weight: 600;
    }
    .section-paragraph {
        font-size: 1.6rem;
        color: var(--dark-light-text);
        width: 60ch;
        text-align: center;
    }

    .info-cards {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 10rem;
    }
    .info-card img {
        
    }

    .info-card-title {
        font-size: 1.8rem;
        padding: 4rem 0 1rem 0;
    }
    .info-card-description {
        font-size: 1.6rem;
        color: var(--dark-light-text);
    }
</style>
